{% extends "registbase.html" %}
{% load staticfiles %}
{% block tree %}
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/regist/" class="simple-text">
                    前站信息
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/plan/plan/">
                        <i class="ti-panel"></i>
                        <p>我的行程</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/">
                        <i class="ti-panel"></i>
                        <p>用户视图</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/user/">
                        <i class="ti-user"></i>
                        <p>用户属性</p>
                    </a>
                </li>
                <li>
                    <a href="/plan/planlist/">
                        <i class="ti-view-list-alt"></i>
                        <p>行程列表</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/regist/contact/">
                        <i class="ti-text"></i>
                        <p>联系人</p>
                    </a>
                </li>
                 <li>
                    <a href="/regist/maps/">
                        <i class="ti-map"></i>
                        <p>地图</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/notification">
                        <i class="ti-bell"></i>
                        <p>小贴士</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
{% endblock %}
{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>姓名</th>
                                    	<th>身份证号</th>
                                    	<th>手机</th>
                                    	<th>微信号</th>
                                        <th>年龄</th>
                                        <th>性别</th>
                                    </thead>

                                    <tbody>
                                     {% for line in contacts %}
                                        <tr>
                                        	<td>{{ line.id }}</td>
                                        	<td>{{ line.name }}</td>
                                        	<td>{{ line.cardid }}</td>
                                        	<td>{{ line.telephone }}</td>
                                        	<td>{{ line.weixin }}</td>
                                            <td>{{ line.age }}</td>
                                        	<td>{{ line.get_sex_display}}</td>

                                        </tr>
                                     {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第 {{ contacts.number }} 页，共 {{ contacts.paginator.num_pages }}页.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
    <button onclick="openWin('contact_add')" class="btn btn-info btn-fill btn-wd">新增联系人</button>
</div>

 <div id="contact_add" style="display: none; POSITION: absolute;z-index:5555; left: 50%; top: 50%; width: 500px; height: 500px; margin-left: -300px; margin-top: -200px; border: 1px solid #888; background-color: #FFF; padding-left: 10px; padding-right: 10px;">
         <form  method="post" action="/regist/contactadd/">
            {% csrf_token %}
                <div class="form-group">
                    <img src="{% static "/img/5-140FG95152.png" %}" width="50" height="30" onClick="closeWin('contact_add')" style="position:absolute; right:10px; top:5px; "><br>
                    <h2>新增联系人</h2>
                      <table width="97%">
                          <tr>
                            <td width="20%" height="60px"><label>姓  名</label></td>
                            <td height="40px"><input id="text_" type="text" name="name" class="form-control border-input" placeholder="张三"></td>
                          </tr>
                           <tr>
                            <td width="20%" height="60px"><label>身份证</label></td>
                            <td><input id="cardid" type="text" name="cardid" class="form-control border-input" placeholder="64111111111111111"></td>
                          </tr>
                          <tr>
                            <td width="20%" height="60px"><label>手机号码</label></td>
                            <td><input id="telephone" type="tel" name="telephone" class="form-control border-input" placeholder="139088888888"></td>
                          </tr>
                          <tr>
                            <td width="20%" height="60px"><label>微信号</label></td>
                            <td><input id="weixin" type="text" name="weixin" class="form-control border-input" placeholder="zang88888"></td>
                          </tr>
                          <tr>
                            <td width="20%" height="60px"><label>年龄</label></td>
                            <td><input id="age" type="number" name="age" class="form-control border-input" placeholder="40"></td>
                          </tr>
                          <tr>
                            <td width="20%" height="60px"><label>性别</label></td>
                            <td>
                              <input type="radio" name="sex" id="r1" value=1 />男
                              <input type="radio" name="sex" id="r2" value=0 />女
                            </td>
                          </tr>
                        </table>
                </div>
              <div class="text-center">
                <button type="submit" class="btn btn-info btn-fill btn-wd">提交</button>
            </div>
            </form>

 </div>
 {% endblock %}