{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>
        {% block title %}
            {% if page_title %} {{ page_title }}-{% endif %}{{ site_name }}
        {% endblock %}
    </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="{{ meta_keywords }}" />
	    <meta name="description" content="{{ meta_description }}" />
        <!--  login and regist     -->
        <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet" />
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        <link rel="stylesheet" type="text/css" href="{% static  "css/demo.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{%  static "css/style.css" %}" />
		<link rel="stylesheet" type="text/css" href="{%  static "css/animate-custom.css" %}" />
    </head>
    <body>
    <div class="container-fluid" style="background-color: lightgray">
                <div class="navbar-header">
                     <a class="navbar-brand" href="#">用户管理</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <i class="ti-panel"></i>
								<p>欢迎【】</p>
                            </a>
                        </li>
                        <li >
                              <a href="#" >
                                <i class="ti-bell"></i>
                                <p>登录</p>
	                          </a>
                       	</li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>注销</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="container">
            <!-- Codrops top bar -->

                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  method="post" action="/regist/login/">
                                   {% csrf_token %}
                                <h1>登录</h1>
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > 用户名 </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> 密码 </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                                </p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">保留用户信息</label>
								</p>
                                <p class="login button"> 
                                    <input type="submit" value="登录" />
								</p>
                                <p class="change_link">
									还没有账户吗 ?
									<a href="#toregister" class="to_register">注册</a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
        </div>
               <div id="Foot-Left">
                    <div style="float:right; line-height:40px; ">
                    &copy; <script>document.write(new Date().getFullYear())</script>, 制作单位：西安前站信息技术有限公司
                    </div>
                </div>
    </body>
</html>