{% extends "registbase.html" %}
{% load staticfiles %}
{% block tree %}
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/regist" class="simple-text">
                    前站信息
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/regist">
                        <i class="ti-panel"></i>
                        <p>用户视图</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/user">
                        <i class="ti-user"></i>
                        <p>用户属性</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/table">
                        <i class="ti-view-list-alt"></i>
                        <p>行程列表</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/contact">
                        <i class="ti-text"></i>
                        <p>联系人</p>
                    </a>
                </li>
                 <li class="active">
                    <a href="/regist/maps">
                        <i class="ti-map"></i>
                        <p>地图</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/notification">
                        <i class="ti-bell"></i>
                        <p>小贴士</p>
                    </a>
                </li>
	         </ul>
    	</div>
    </div>
{% endblock %}
{% block content %}

		<div class="content">
            <div class="container-fluid">
                <div class="card card-map">
					<div class="header">
                        <h4 class="title">Google Maps</h4>
                    </div>
					<div class="map">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}