{% extends "registbase.html" %}
{% load staticfiles %}
{% block tree %}
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    前站信息
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/plan/plan/">
                        <i class="ti-panel"></i>
                        <p>我的行程</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/">
                        <i class="ti-panel"></i>
                        <p>用户视图</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/user/">
                        <i class="ti-user"></i>
                        <p>用户属性</p>
                    </a>
                </li>
                <li>
                    <a href="/plan/planlist/">
                        <i class="ti-view-list-alt"></i>
                        <p>行程列表</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/contact/">
                        <i class="ti-text"></i>
                        <p>联系人列表</p>
                    </a>
                </li>
               <li  class="active">
                    <a href="/regist/maps/">
                        <i class="ti-map"></i>
                        <p>地图</p>
                    </a>
                </li>
                <li >
                    <a href="/regist/notification/">
                        <i class="ti-bell"></i>
                        <p>小贴士</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
{% endblock %}
{% block content %}


		<div class="content">
            <div class="container-fluid">
                 <div style="width:100%; margin-left:10px;margin-top:-20px"> 
                   <table width="97%" >
                      <tr>
                        <td width="20%" > <label>城市 </label></td>
                        <td width="35%"> <label>地址 </label></td>
                        <td width="35%"> <label>查询结果 </label></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><input  type="text"   style="width:90%" id="city_" class="form-control border-input"  placeholder="北京"></td>
                        <td><input  type="text" style="width:90%" id="text_" class="form-control border-input"  placeholder="高新广场"></td>
                        <td><input  id="result_" style="width:90%" class="form-control border-input" type="text" /></td>
                        <td><input type="button" style="width:90%" value="查询" class="btn btn-info btn-fill btn-wd" onClick="searchByStationName();"/></td>
                      </tr>
                    </table>
                    
              </div>                       
                    <div id="container" 
                        style="
                            width: 100%; 
                            height: 590px; 
                            border: 1px solid gray;
                            overflow:hidden;">
                    </div>
		  </div>
			</div>
		</div>

		<footer class="footer">
            <div class="container-fluid">
                
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, 制作单位：西安前站信息技术有限公司
                </div>
            </div>
        </footer>

    </div>
</div>

 {% endblock %}
