{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i>欢迎【{{ username }}】</a></li>
                            <li><a href="cart.html"><i class="fa fa-user"></i>购物车</a></li>
                            <li><a href="/regist/login"><i class="fa fa-user"></i>登录</a></li>
                            <li><a href="/regist/logout"><i class="fa fa-user"></i>退出</a></li>
                        </ul>
                    </div>
                </div>
              </div>
        </div>
    </div> <!-- End header area -->

{% block content %}{% endblock %}

{% endblock %}