{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

  <div class="plan_top">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">计划详细</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="danger">
                            <a href="#">
                                <i class="ti-panel"></i>
								<p>欢迎【{{ username }}】</p>
                            </a>
                        </li>
                        <li >
                              <a href="/regist/login" >
                                <i class="ti-bell"></i>
                              <p>登录</p>
	                          </a>
                       	</li>
						<li>
                            <a href="/regist/logout">
								<i class="ti-settings"></i>
								<p>注销</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</div>

<div class="plan_content">
       <div class="plan_detail_left">
          <div class="plan_1"> 	
           <table width="100%">
              <tr>
                <td>&nbsp;</td>
                <td width="20%" height="58" align="center"><span>出发地</span><br><span style="font-size: 22px; font; font-weight: bolder;">{{ plan.fromcity }}</span></td>
                <td width="20%" align="center"><span>到达地</span><br><span style="font-size: 22px; font; font-weight: bolder;">{{ plan.tocity }}</span></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td height="25">出发时间</td>
                <td><strong>{{ plan.start_at }}</strong></td>
                <td>返回时间</td>
                <td><strong>{{ plan.back_at }}</strong></td>
              </tr>
              <tr>
                <td height="25">目的地</td>
                <td colspan="3"><strong>{{ plan.target }}</strong></td>
                </tr>
              <tr>
                <td height="25">交通</td>
                <td id="traffictype"><strong>{{ plan.traffictype }}</strong></td>
                <td height="25">住宿</td>
                <td id="hotletype"><strong>{{ plan.hotletype }}</strong></td>
                <td height="25">是否往返</td>
                <td id="hotletype"><strong>{{ plan.ifback }}</strong></td>
              </tr>
              <tr>
                <td height="40">&nbsp;</td>
                <td align="center" valign="middle"><input class="button blue round" type="button" value="修改" onclick=""/></td>
                <td align="center" valign="middle"><input class="button blue round" type="button" value="确认" onclick=""/></td>
                <td>&nbsp;</td>
              </tr>
           </table>
     
          </div>  
          <div id="plan_1_1_1" class="plan_1_1" style="display:none">
				<table width="100%">
                  <tr>
                    <td>去程</td>
                    <td width="24%">
                    <span>海南航空HK8900</span><br>    
                     <span>空中客车320</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>首都机场T3</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>    
                     <span>虹桥机场T2</span>
                    </td>
                    <td>经济舱</td>
                    <td align="right" >￥<font color="red" size="+2" >850</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="更多" onclick="showdiv(2)"/></td>
                  </tr>
               	  </table>
           </div>
           <div id="plan_1_1_2" class="plan_1_1" style="display:none">
               <table width="100%">
                  <tr>
                    <td>去程</td>
                    <td width="24%">
                     <span>G6680</span><br>
                     <span>高铁</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>北京西</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>
                     <span>上海南</span>
                    </td>
                    <td>二等座</td>
                    <td align="right" >￥<font color="red" size="+2" >550</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="更多" onclick="showdiv(3)"/></td>
                  </tr>
               	  </table>
           </div>
           <div id="plan_1_1_3" class="plan_1_1" style="display:none">
                <table width="100%">
                  <tr>
                    <td>去程</td>
                    <td width="24%">
                    <span>T220</span><br>
                     <span>特快</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>北京西</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>
                     <span>上海站</span>
                    </td>
                    <td>硬卧</td>
                    <td align="right" >￥<font color="red" size="+2" >200</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="更多" onclick="showdiv(3)"/></td>
                  </tr>
               	  </table>
           </div>
           <div id="plan_1_2" class="plan_1_1">
                  <table width="100%" >
                  <tr>
                    <td width="24%"><img src="{% static "/img/timg.jpg" %}"  width="150" height="100" onClick="openWin('plan_house_select')">
                     </td>
                    <td width="30%" align="center">
                    <span style="font-size: 14px; font; font-weight: bolder;" onClick="openWin('plan_house_select')">上海虹桥国际大酒店</span><br>    
                    <span>虹桥路139号</span>
                    </td>
                    <td width="9%" align="center">五星级</td>
                    <td align="center">商务大床房</td>
                    <td  align="center">
                    </td>
                    <td align="right" >￥<font color="red" size="+2" >350</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="更多" onclick="showdiv(1)"/></td>
                  </tr>
                 </table>
          </div>
           <div id="plan_1_3_1" class="plan_1_1" style="display:none">
				<table width="100%">
                  <tr>
                    <td>返程</td>
                    <td width="24%">
                    <span>海南航空HK8900</span><br>
                     <span>空中客车320</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>首都机场T3</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>
                     <span>虹桥机场T2</span>
                    </td>
                    <td>经济舱</td>
                    <td align="right" >￥<font color="red" size="+2" >850</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="更多" onclick="showdiv(2)"/></td>
                  </tr>
               	  </table>
           </div>
           <div id="plan_1_3_2" class="plan_1_1" style="display:none">
               <table width="100%">
                  <tr>
                    <td>返程</td>
                    <td width="24%">
                    <span>G6680</span><br>
                     <span>高铁</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>北京西</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>
                     <span>上海南</span>
                    </td>
                    <td>二等座</td>
                    <td align="right" >￥<font color="red" size="+2" >550</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="更多" onclick="showdiv(3)"/></td>
                  </tr>
               	  </table>
           </div>
           <div id="plan_1_3_3" class="plan_1_1" style="display:none">
                <table width="100%">
                  <tr>
                    <td>返程</td>
                    <td width="24%">
                    <span>T220</span><br>
                     <span>特快</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>北京西</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>
                     <span>上海站</span>
                    </td>
                    <td>硬卧</td>
                    <td align="right" >￥<font color="red" size="+2" >200</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="更多" onclick="showdiv(3)"/></td>
                  </tr>
               	  </table>
           </div>
           <div id="plan_1_4" class="plan_1_1">
                <table width="100%">
                  <tr>
                    <td>总金额</td>
                    <td align="right" >￥<font color="red" size="+2" >200</font></td>
                    <td align="center" valign="middle"><input class="button blue round" type="button" value="订购" onclick="showdiv(3)"/></td>
                  </tr>
               	  </table>
           </div>
          
  </div>

      <div id="plan_2_train" class="plan_2" style="display:none">
                <table width="100%">
                  <tr>
                    <th width="24%">车次</th>
                    <th width="17%">开车时间</th>
                    <th width="20"></th>
                    <th width="13%">到达时间</th>
                    <th width="10%">席次</th>
                    <th width="15%">价格</th>
                    <th width="9%"></th>
                  </tr>
                </table>

      			<table width="100%">
                  <tr>
                    <td width="24%" height="84">
                    <span>T220</span><br>    
                     <span>特快</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>北京西</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>    
                     <span>上海站</span>
                    </td>
                    <td>硬卧</td>
                    <td align="right" >￥<font color="red" size="+2" >200</font></td>
                    <td align="center" valign="middle"><input class="button red round" type="button" value="预定" onclick=""/></td>
                  </tr>
               	  </table>

      </div>    
            <div id="plan_2_plane" class="plan_2" style="display:none">
                <table width="100%">
                  <tr>
                    <th width="24%">航班</th>
                    <th width="17%">起飞时间</th>
                    <th width="20"></th>
                    <th width="13%">落地时间</th>
                    <th width="10%">舱位</th>
                    <th width="15%">价格</th>
                    <th width="9%"></th>
                  </tr>
                </table>
                <table width="100%">
                  <tr>
                    <td width="24%" height="80">
                    <span>海南航空HK8900</span><br>    
                     <span>空中客车320</span>
                     </td>
                    <td width="17%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">18:30</span><br>    <span>首都机场T3</span>
                    </td>
                    <td width="9%" align="center">----></td>
                    <td width="18%" align="center">
                    <span style="font-size: 18px; font; font-weight: bolder;">20:30</span><br>    
                     <span>虹桥机场T2</span>
                    </td>
                    <td>经济舱</td>
                    <td align="right" >￥<font color="red" size="+2" >850</font></td>
                    <td align="center" valign="middle"><input class="button red round" type="button" value="预定" onclick=""/></td>
                  </tr>
               	  </table>

      </div>    
      	<div id="plan_2_house" class="plan_2">
                <table width="100%">
                  <tr>
                    <th width="24%"></th>
                    <th width="17%">宾馆名称</th>
                    <th width="20"></th>
                    <th width="13%">类型</th>
                    <th width="10%">房型</th>
                    <th width="15%">价格</th>
                    <th width="9%"></th>
                  </tr>
                </table>
                <table width="100%" >
                  <tr>
                     <td width="20%" height="130"><img src="{% static "/img/timg.jpg" %}" width="150" height="100">
                     </td>
                    <td width="30%" align="center">
                    <span style="font-size: 14px; font; font-weight: bolder;">上海汉庭商务快捷酒店</span><br>    
                    <span>虹桥路139号</span>
                    </td>
                    <td width="9%" align="center">商务酒店</td>
                    <td align="center">商务大床房</td>
                    <td  align="center">
                    </td>
                    <td align="right" >￥<font color="red" size="+2" >300</font></td>
                    <td align="center" valign="middle"><input class="button red round" type="button" value="预定" onclick=""/></td>
                  </tr>
                 </table>

        </div>

</div>

<div class="plan_detail_foot">                
             &copy; <script>document.write(new Date().getFullYear())</script>, 制作单位：西安前站信息技术有限公司
</div>
<div id=plan_house_select style="display: none; POSITION: absolute; left: 50%; top: 50%; width: 700px; height: 500px; margin-left: -300px; margin-top: -200px; border: 1px solid #888; background-color: #FFF; padding-left: 10px; padding-right: 10px;">
        <img src="{% static "/img/5-140FG95152.png" %}" width="50" height="30" onClick="closeWin('plan_house_select')" style="position:absolute; right:10px; top:5px; "><br>
				<table width="100%">
      			 <tr>
                  	<th width="10%"></th>
                    <th width="24%">房型</th>
                    <th width="17%">床型</th>
                    <th width="20%">早餐</th>
                    <th width="13%">配套</th>
                    <th width="15%">价格</th>
                    <th width="9%"></th>
                  </tr>
                </table>
                <table width="100%" >
                  <tr>
                     <td width="20%" height="130"><img src="{% static "/img/bigbed.jpg" %}" width="150" height="100">
                     </td>
                    <td width="30%" align="center">
                    商务大床房
                    </td>
                    <td width="9%" align="center">大床</td>
                    <td align="center">双早</td>
                    <td  align="center">免费wifi</td>
                    <td align="right" >￥<font color="red" size="+2" >300</font></td>
                    <td align="center" valign="middle"><input class="button red round" type="button" value="预定" onclick=""/></td>
                  </tr>
                 </table>
                 <table width="100%" >
                  <tr>
                     <td width="20%" height="130"><img src="{% static "/img/doublebed.jpg" %}" width="150" height="100">
                     </td>
                    <td width="30%" align="center">
                    标间
                    </td>
                    <td width="9%" align="center">大床</td>
                    <td align="center">双早</td>
                    <td  align="center">免费wifi</td>
                    <td align="right" >￥<font color="red" size="+2" >280</font></td>
                    <td align="center" valign="middle"><input class="button red round" type="button" value="预定" onclick=""/></td>
                  </tr>
                 </table>
                 <table width="100%" >
                  <tr>
                     <td width="20%" height="130"><img src="{% static "/img/haohua.jpg"%}" width="150" height="100">
                     </td>
                    <td width="30%" align="center">
                    豪华大床房
                    </td>
                    <td width="9%" align="center">大床</td>
                    <td align="center">双早</td>
                    <td  align="center">免费wifi</td>
                    <td align="right" >￥<font color="red" size="+2" >500</font></td>
                    <td align="center" valign="middle"><input class="button red round" type="button" value="预定" onclick=""/></td>
                  </tr>
                 </table>
               </div>


<script language="javascript">
 
/*原生的js写法*/
var traffictype={{ plan.traffictype }}
var ifback=Number({{ plan.ifback }})


 alert ('ok')
   if (traffictype=='1'){
        document.getElementById('plan_1_1_1').style.display = 'block';//show的display属性设置为block（显示)
        if (ifback=='1') {
            document.getElementById('plan_1_3_1').style.display = 'block';
        }
    }
    if (traffictype=='2'){
        document.getElementById('plan_1_1_2').style.display = 'block';//show的display属性设置为block（显示)
        if ({{ plan.ifback }} ) {
            document.getElementById('plan_1_3_2').style.display = 'block';
        }
    }
    if (traffictype=='3' ){
        document.getElementById('plan_1_1_3').style.display = 'block';//show的display属性设置为block（显示)
        if ({{ plan.ifback }}) {
            document.getElementById('plan_1_3_3').style.display = 'block';
        }
    }


function showdiv(x){
	//显示房子
	if (x=='1'){
	document.getElementById('plan_2_house').style.display='block';//show的display属性设置为block（显示）
	document.getElementById('plan_2_plane').style.display='none';//show的display属性设置为block（显示）
	document.getElementById('plan_2_train').style.display='none';//show的display属性设置为block（显示）
	}else if (x=="2"){//如果show是显示的
	document.getElementById('plan_2_house').style.display='none';//show的display属性设置为block（显示）
	document.getElementById('plan_2_plane').style.display='block';//show的display属性设置为block（显示）
	document.getElementById('plan_2_train').style.display='none';//show的display属性设置为block（显示）
	}
	else {
	document.getElementById('plan_2_house').style.display='none';//show的display属性设置为block（显示）
	document.getElementById('plan_2_plane').style.display='none';//show的display属性设置为block（显示）
	document.getElementById('plan_2_train').style.display='block';//show的display属性设置为block（显示）	
	}
	
	}
	
function openWin(win){
   document.getElementById(win).style.display="";
}
function closeWin(win){
   document.getElementById(win).style.display="none";
}
</script>
  {% endblock %}

