{% extends "registbase.html" %}
{% load staticfiles %}
{% block tree %}
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/regist" class="simple-text">
                    前站信息
                </a>
            </div>

            <ul class="nav">
                 <li>
                    <a href="/plan/plan">
                        <i class="ti-panel"></i>
                        <p>我的行程</p>
                    </a>
                </li>
                <li>
                    <a href="/regist">
                        <i class="ti-panel"></i>
                        <p>用户视图</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/user">
                        <i class="ti-user"></i>
                        <p>用户属性</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/plan/planlist">
                        <i class="ti-view-list-alt"></i>
                        <p>行程列表</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/contact">
                        <i class="ti-text"></i>
                        <p>联系人</p>
                    </a>
                </li>
                 <li>
                    <a href="/regist/maps">
                        <i class="ti-map"></i>
                        <p>地图</p>
                    </a>
                </li>
                <li>
                    <a href="/regist/notification">
                        <i class="ti-bell"></i>
                        <p>小贴士</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
{% endblock %}
{% block content %}
          <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>计划名称</th>
                                    	<th>出发城市</th>
                                    	<th>目的城市</th>
                                    	<th>出发日期</th>
                                        <th>到达日期</th>
                                        <th>交通方式</th>
                                        <th>宾馆类型</th>
                                        <th>是否往返</th>

                                    </thead>

                                    <tbody>
                                     {% for line in plans %}
                                        <tr>
                                        	<td>{{ line.id }}</td>
                                        	<td>{{ line.name }}</td>
                                        	<td>{{ line.fromcity }}</td>
                                        	<td>{{ line.tocity }}</td>
                                        	<td>{{ line.start_at|date:"Y-m-d" }}</td>
                                            <td>{{ line.back_at|date:"Y-m-d"  }}</td>
                                        	<td>{{ line.get_traffictype_display}}</td>
                                        	<td>{{ line.get_hotletype_display}}</td>
                                        	<td>{{ line.get_ifback_display}}</td>
                                            <td><a href="/plan/plandetail/?planid= {{ line.id }}">编辑</a></td>
                                        </tr>
                                     {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

               </div>
            </div>
        </div>
    <div class="pagination">
    <span class="step-links">
        {% if plans.has_previous %}
            <a href="?page={{ plans.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第 {{ plans.number }} 页，共 {{ plans.paginator.num_pages }}页.
        </span>

        {% if plans.has_next %}
            <a href="?page={{ plans.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>

 {% endblock %}